<div class="page-container">
  <pagetitle title="Agendamentos" subtitle="Gerencie seus agendamentos"></pagetitle>

  <div class="projects-grid">
    <div class="project-card" *ngFor="let appointment of appointments">
      <div class="project-header">
        <h3>{{ appointment.name }}</h3>
        @if(appointment.enabled) {
          <div class="project-status" style="background: #DEF7EC; color: #047857;">
            {{ getStatus(appointment.enabled) }}
          </div>
        } @else {
          <div class="project-status" style="background: #FEF3C7; color: #B45309;">
            {{ getStatus(appointment.enabled) }}
          </div>
        }
      </div>

      <div>
        <div class="team-avatars">
          <p class="project-description">{{ appointment.description }}</p>
        </div>
      </div>

      <div class="project-footer">
        <div class="project-dates">
          <div class="date-item">
            <span class="date-label">Quando Enviar?</span>
            <span class="date-value">{{ appointment.schedule }}</span>
          </div>
          <div class="date-item">
            <span class="date-label">Data de início:</span>
            <span class="date-value">{{ appointment.startDate }}</span>
          </div>
          <div class="date-item">
            <span class="date-label">Data de fim:</span>
            <span class="date-value">{{ appointment.endDate }}</span>
          </div>
        </div>
      </div>
      <div class="action-buttons">
        <button class="btn-action edit" (click)="edit(appointment)" title="Editar">✏️</button>
        <button class="btn-action delete" (click)="deleteItem(appointment)" title="Excluir">🗑️</button>
      </div>
    </div>

    <button class="btn-primary" (click)="openAppointmentModal()">+ Novo Agendamento</button>
    <!--<div class="project-card add-project">
      <div class="add-project-content">
        <div class="add-icon">+</div>
        <h3>Novo Projeto</h3>
        <p>Clique aqui para criar um novo projeto</p>
      </div> 
    </div>-->

    <!-- Appointment Modal -->
    <div class="modal-overlay" *ngIf="showAppointmentModal" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <h3>{{ isEditing ? 'Editar Agendamentos' : 'Novo Agendamento' }}</h3>
          <button class="btn-close" (click)="closeModal()">×</button>
        </div>

        <form class="modal-body" (ngSubmit)="save()">
          <div class="form-grid">
            <div class="form-group">
              <label>Nome do Agendamento</label>
              <input type="text" [(ngModel)]="currentAppointment.name" name="name" class="form-control" required />
            </div>

            <div class="form-group">
              <label>Descrição</label>
              <input type="text" [(ngModel)]="currentAppointment.description" name="description" class="form-control"
                placeholder="" required />
            </div>
          </div>

          <div class="form-grid">
            <div class="form-group">
              <cron-selector [(currentAppointment)]="currentAppointment">
              </cron-selector>
            </div>
          </div>

          <div class="form-grid">
            <div class="form-group">
              <label>Ativo para envio?</label>
              <select [(ngModel)]="currentAppointment.enabled" name="enabled" class="form-control" required>
                <option [value]="true">Sim</option>
                <option [value]="false">Não</option>
              </select>
            </div>

            <div class="form-group">
              <label>Modo Desenvolvimento?</label>
              <select [(ngModel)]="currentAppointment.development" name="development" class="form-control" required>
                <option [value]="true">Sim</option>
                <option [value]="false">Não</option>
              </select>
            </div>
          </div>

          <div class="form-grid">
            <div class="form-group">
              <label>Data de Inicio</label>
              <input type="date" [(ngModel)]="currentAppointment.startDate" name="startDate" class="form-control" />
            </div>

            <div class="form-group">
              <label>Data de Fim</label>
              <input type="date" [(ngModel)]="currentAppointment.endDate" name="endDate" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label>Enviar Para o(s) Grupo(s):</label>
            <select [(ngModel)]="currentAppointment.sendToGroups" name="sendToGroups" class="form-control" multiple
              required>
              <option *ngFor="let item of groups" [ngValue]="item.id">
                {{ item.name }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Tipo de Envio?</label>
            <select [(ngModel)]="currentAppointment.taskType" name="monitoringGroups" class="form-control"
              required>
              <option [value]="'WHATSAPP_MESSAGE'">Whatsapp Message</option>
              <option [value]="'API_CALL'">Acionar uma Api</option>
            </select>
          </div>

          @if (currentAppointment.taskType == "API_CALL") {
          <div class="form-group">
            <label>Nome do Agendamento</label>
            <input type="text" [(ngModel)]="currentAppointment.endpoint" name="endpoint" class="form-control"/>
          </div>
          } @else {
          <div class="form-grid">
            <div class="form-group">
              <label>Mensagem a ser enviada:</label>
              <textarea class="form-control" type="textarea" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="currentAppointment.message" name="message"></textarea>
            </div>
          </div>
          }

          <div class="form-grid">
            <div class="form-group">
              <label>Modo Monitoraramento?</label>
              <select [(ngModel)]="currentAppointment.monitoringGroups" name="monitoringGroups" class="form-control"
                required>
                <option [value]="true">Sim</option>
                <option [value]="false">Não</option>
              </select>
            </div>

            @if (currentAppointment.monitoringGroups) {
            <div class="form-grid">
              <div class="form-group">
                <label>Monitorar no(s) Grupo(s):</label>
                <select [(ngModel)]="currentAppointment.monitoringGroupsIds" [ngModelOptions]="{standalone: true}" name="monitoringGroupsIds"
                  class="form-control" multiple required>
                  <option *ngFor="let item of groups" [ngValue]="item.id">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
            }
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn-secondary" (click)="closeModal()">Cancelar</button>
          <button type="button" class="btn-primary" (click)="save()">
            {{ isEditing ? 'Salvar Alterações' : 'Criar Agendamento' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>